<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    <title>Dungeons and Dragons 5th Edition Spell List</title>
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css"></link>
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.css"></link>
		<link rel="stylesheet" href="lib/select2-4.0.3/dist/css/select2.min.css"></link>
		<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="lib/select2-4.0.3/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="lib/angular-1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-1.5.7/angular-route.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="app/spells.js"></script>
    <script type="text/javascript" src="app/custom.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript">
			$(document).ready(function() {
				$(".js-example-basic-single").select2({
					width: '200px'
				});
			});
		</script>
	</head>
	<body ng-app="spell" ng-controller="SpellController">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<a class="navbar-brand same-page-nav" href="#home">Spells</a>
				<a class="navbar-brand same-page-nav" href="#favorites">Favorites</a>
			</div>
		</nav>

		<div class="page-header"></div>
		
		<div class="container">
			<div class="jumbotron starter-template" id="home">
				<div class="pull-right">
					<select class="js-example-basic-single input-medium dropdown-menu-right" ng-model="selectedSpell" ng-options="spell.name for spell in spells"> </select>
				</div>
				<input type="submit" class="btn btn-success" ng-click="saveSpell()" ng-show="!isSpellSaved(selectedSpell.name)" value="Favorite" />
				<input type="submit" class="btn btn-warning" ng-click="removeSpell(selectedSpell.name)" ng-show="isSpellSaved(selectedSpell.name)" value="Unfavorite" />
				<input type="submit" class="btn btn-danger" ng-click="clearSavedSpells()" ng-show="areSpellsSaved()"value="Clear favorites" />
				<h1>{{selectedSpell.name}}</h1>
				<h2>Level {{selectedSpell.level}} spell</h2>
				<h5>Components: {{selectedSpell.components}}</h5>
				<h5>Range: {{selectedSpell.range}}</h5>
				<h5>Duration: {{selectedSpell.duration}}</h5>
				<h5>School: {{selectedSpell.school}}</53>
				<h5>Casting time: {{selectedSpell.casting_time}}</h5>
				<p>{{selectedSpell.description}}</p>
			</div>

			<div class="starter-template" id="favorites">
				<h1>Favorites</h1>
				<h2 ng-show="!areSpellsSaved()">No spells saved to favorites.</h2>
				<div role="tablist" id="favs" ng-repeat="favorite in savedSpells">
					<div class="panel panel-default">
						<div class="panel-heading clearfix" role="tab" id="heading-{{$index}}">
							<div class="col-xs-6">
								<h4 class="panel-title navbar-left">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#favs" href="#collapse-{{$index}}" aria-expanded="false" aria-controls="collapse-{{$index}}">
										{{favorite.name}}
									</a>
								</h4>
							</div>
							<div class="col-xs-6">
								<input type="submit" class="btn btn-warning navbar-right" ng-click="removeSpell(favorite.name)" ng-show="isSpellSaved(favorite.name)" value="Unfavorite" />
							</div>
						</div>
						<div id="collapse-{{$index}}" class="panel-collapse collapse" aria-labelledby="heading-{{$index}}" aria-expanded="false">
							<div class="panel-body">
								<h1>{{favorite.name}}</h1>
								<h2>Level {{favorite.level}} spell</h2>
								<h5>Components: {{favorite.components}}</h5>
								<h5>Range: {{favorite.range}}</h5>
								<h5>Duration: {{favorite.duration}}</h5>
								<h5>School: {{favorite.school}}</53>
								<h5>Casting time: {{favorite.casting_time}}</h5>
								<p>{{favorite.description}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr/>
			<footer>
				<p>Thanks to <a href="https://github.com/tadzik">tadzik</a> for providing the spell JSON data, found in <a href="https://github.com/tadzik/5e-spells">this repo</a>.</p>
				<p>Code for this website can be found <a href="https://github.com/chriszimmerman/dndspell">here</a>.</p>
			<footer>
		</div>
	</body>
</html>
